# SuperAssets API Configuration
# Single Key or Multi-Key Pool (Comma-separated keys for high-speed rotation)
SUPERASSETS_API_KEYS="AK_1H9LanMneFYmkd2tw6FyFpwPh8mrUBP4"
SUPERASSETS_API_KEY=AK_1H9LanMneFYmkd2tw6FyFpwPh8mrUBP4

# Next.js App Configuration
NEXT_PUBLIC_APP_NAME=Checker
